<div class="modal fade" id="create_project_modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title w-100" id="editModalLabel">
                    <span class="material-symbols-outlined" style="color: limegreen">
                        add_circle
                    </span>
                    Create new project
                </h3>

            </div>
            <form method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="new-project-name" name="new-project-name"
                               placeholder="Enter new project name...">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnUpdate" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>