{% extends "base.html" %}
{% block title %}Home{% endblock%}
{% block content %}

<h1>Welcome {{ user_name }}</h1>

<a data-toggle="modal" data-target="#create_project">
    <button type="button" class="btn btn-primary">Create Project</button>
</a>

<div class="modal fade" id="create_project" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editModalLabel">Create new project</h4>
            </div>
            <form method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="project-name">Project name:</label>
                        <input type="text" class="form-control" id="project-name" name="project-name"
                               placeholder="Enter project name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnUpdate" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table id="data" class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Project name</th>
        <th>Date</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for project in projects %}
    <tr>
        <td>{{ project.id }}</td>
        <td>
            <a href="{{ url_for('views.project_page', project_id=project.id, page=1) }}">
                {{ project.name }}
            </a>
        </td>
        <td>{{ project.date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
        <td>
            <a href="{{ url_for('views.delete_project', project_id=project.id) }}"
               onclick="return confirm('Are you sure?');"
               title="Delete project">
                <i class="material-symbols-outlined" style="font-size:25px; color: red">delete_forever</i>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock%}