{% extends "base.html" %}
{% block title %}Home{% endblock%}
{% block content %}

<h1>Welcome {{ session['user_name'] }}</h1>

<a data-toggle="modal" data-target="#create_project_modal">
    <button type="button" class="btn btn-primary">Create Project</button>
</a>

<table id="data" class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Project name</th>
        <th>Date</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for project in user_projects %}
    <tr>
        <td>{{ project.id }}</td>
        <td>
            <a href="{{ url_for('views.project_page', project_id=project.id, page=1) }}">
                {{ project.name }}
            </a>
        </td>
        <td>{{ project.date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
        <td>
            <a href="{{ url_for('views.delete_project', project_id=project.id) }}"
               onclick="return confirm('Are you sure?');"
               title="Delete project">
                <i class="material-symbols-outlined" style="font-size:25px; color: red">delete_forever</i>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<!--Modals-->
{% include 'modals/create_project_modal.html' %}

{% endblock%}