{% extends "project.html" %}
{% block content %}
<div class="tab-pane fade {% if tab == 3 %}show active{% endif %}" id="image_tab_content" role="tabpanel"
     aria-labelledby="image_tab_content">

    <form action="{{ url_for('views.upload_images', project_id=project_id, page=page, tab=3) }}" method="post"
          enctype="multipart/form-data">
        <div class="mb-3">
            <label for="imageUpload" class="form-label">Upload Images</label>
            <input type="file" class="form-control" id="imageUpload" name="images[]" multiple accept="image/*">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <table id="data" class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Annotated Image</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for image, image_png, image_annotated_png in images %}
        <tr>
            <td>{{ image.id }}</td>
            <td>
                {{ image.name }}
            </td>
            <td>
                <a href="{{ url_for('views.show_image', image_id=image.id) }}" target="_blank">
                    <img src="data:image/png;base64,{{image_png}}" style="width: 100px; height: 100px;"/>
                </a>
            </td>
            <td>
                {% if image_annotated_png is not none %}
                <a href="{{ url_for('views.show_image_annotated', image_id=image.id) }}" target="_blank">
                    <img src="data:image/png;base64,{{image_annotated_png}}" style="width: 100px; height: 100px;"/>
                </a>
                {% else %}
                <span class="badge badge-warning">Empty</span>
                {% endif %}
            </td>
            <td>{{ image.date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
            <td>
                <a href="{{ url_for('views.delete_image', image_id=image.id, tab=3) }}"
                   onclick="return confirm('Are you sure?');"
                   title="Delete image">
                    <i class="material-symbols-outlined" style="font-size:25px; color: red">delete_forever</i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <span class="badge badge-light">Rows: {{ images|length }}</span>
    <br/>
    <span class="badge badge-light">Total Rows: {{ images_len }}</span>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link"
                                     href="{{ url_for('views.project_page', page=1, project_id=project_id, tab=3) }}">First</a>
            </li>
            <li class="page-item"><a class="page-link"
                                     href="{{ url_for('views.project_page', page=page - 1, project_id=project_id, tab=3) }}">{{
                page -
                1 if
                page > 1 else "-"}}</a>
            </li>
            <li class="page-item active">
                <a class="page-link"
                   href="{{ url_for('views.project_page', page=page, project_id=project_id, tab=3) }}">{{
                    page
                    }}</a>
            </li>
            <li class="page-item"><a class="page-link"
                                     href="{{ url_for('views.project_page', page=page + 1, project_id=project_id, tab=3) }}">{{
                page + 1 if page != last_page_number else "-"}}</a></li>
            <li class="page-item"><a class="page-link"
                                     href="{{ url_for('views.project_page', page=last_page_number, project_id=project_id, tab=3) }}">Last</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}