{% extends "base.html" %}
{% block title %}Project{% endblock %}
{% block content %}

<div class="spinner" id="spinner"
     style="background-color: white; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999; display: flex; justify-content: center; align-items: center; transition: all 0.5s">
    <div class="spinner-border text-primary" role="status" style="width: 60px; height: 60px">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<!--aria-controls="run_tab_content"-->
<!-- Tabs navs -->
<ul class="nav nav-tabs mb-3" id="ex-with-icons" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link {% if tab == 1 %}active{% endif %}" id="run_tab" data-bs-toggle="tab"
           href="{{ url_for('views.run', project_id=project_id) }}"
           role="tab"><i
                class="material-symbols-outlined">directions_run</i>Run</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link {% if tab == 2 %}active{% endif %}" id="stats_tab" data-bs-toggle="tab"
           href="{{ url_for('views.stats', project_id=project_id) }}" role="tab"><i
                class="material-symbols-outlined">query_stats</i>Stats</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link {% if tab == 3 %}active{% endif %}" id="image_tab" data-bs-toggle="tab"
           href="{{ url_for('views.image', project_id=project_id) }}" role="tab"><i
                class="material-symbols-outlined"
        >photo_library</i>Image</a>
    </li>
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class="tab-content" id="tabs_content">
    {% block tabs_content %}
    {% endblock %}
</div>
<!-- Tabs content -->

<!-- Include necessary MDB JavaScript and CSS files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    window.onload = function () {
        const socket = io();
        const loading = document.getElementById("spinner");
        socket.connect("http://127.0.0.1:5000");
        socket.on("connect", function () {
            console.log("Connect!");
            loading.style.opacity = "0";
            setTimeout(() => {
                loading.style.display = "none";
            }, 500)


        })
        let run_bar = document.getElementById("run-bar")
        socket.on("update progress", function (percent) {
            console.log("get percent" + percent);
            run_bar.style.width = percent + "%";
            run_bar.innerHTML = run_bar.style.width;
        })

        // let run_form = document.getElementById("run-form")
        // run_form.onsubmit = function (event) {
        //     event.preventDefault()
        //     fetch("/run", {
        //         method: "POST"
        //     })
        // }
    }


</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
        var graphs1 = {{ stats | safe}};
        Plotly.plot("chart1", graphs1,{});
</script>

{% endblock %}