{% extends "base.html" %}
{% block title %}Project{% endblock %}
{% block content %}

<div class="spinner" id="spinner"
     style="background-color: white; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999; display: flex; justify-content: center; align-items: center; transition: all 0.5s">
    <div class="spinner-border text-primary" role="status" style="width: 60px; height: 60px">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<!-- Tabs navs -->
<nav>
    <div class="nav nav-tabs" id="myTab" role="tablist">
        <a class="nav-item nav-link {% if tab == 1 %}active{% endif %}" data-toggle="tab"
           href="#run_tab_content" role="tab" aria-controls="run" aria-selected="true">
            <i class="material-symbols-outlined">directions_run</i>
            Run</a>
        <a class="nav-item nav-link {% if tab == 2 %}active{% endif %}" data-toggle="tab"
           href="#stats_tab_content" role="tab" aria-controls="stats" aria-selected="false">
            <i class="material-symbols-outlined">query_stats</i>
            Stats</a>
        <a class="nav-item nav-link {% if tab == 3 %}active{% endif %}" data-toggle="tab"
           href="#image_tab_content" role="tab" aria-controls="image" aria-selected="false">
            <i class="material-symbols-outlined">photo_library</i>
            Image</a>
    </div>
</nav>

<!-- Tabs content -->
<div class="tab-content" id="tabs_content">
    <div class="tab-pane fade {% if tab == 1 %}show active{% endif %}" id="run_tab_content" role="tabpanel"
         aria-labelledby="run-tab">
        {% include 'run.html' %}
    </div>
    <div class="tab-pane fade {% if tab == 2 %}show active{% endif %}" id="stats_tab_content" role="tabpanel"
         aria-labelledby="stats-tab">
        {% include 'stats.html' %}
    </div>
    <div class="tab-pane fade {% if tab == 3 %}show active{% endif %}" id="image_tab_content" role="tabpanel"
         aria-labelledby="image-tab">
        {% include 'image.html' %}
    </div>
</div>

<!-- REMOVE ? -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>-->

{% endblock %}