<form id="stats-form" action="{{ url_for('project_views.project', tab=2)}}" method="post"
      enctype="multipart/form-data">

    <select class="selectpicker" id="batch-stats-select" name="batch-stats-select" multiple data-live-search="true">
        {% for batch in batches %}
        <option value="{{ batch.id }}">{{ batch.name }}</option>
        {% endfor %}
    </select>

    <select class="selectpicker" id="plot-type-select" name="plot-type-select" data-live-search="true">
        <option value="" selected>Select plot type...</option>
        <option value="Bar">Bar</option>
        <option value="Pie">Pie</option>
    </select>

    <select class="selectpicker" id="wbc-class-select" name="wbc-class-select" multiple data-live-search="true">
        {% for wbc_class_name in wbc_class_names %}
        <option value="{{ wbc_class_name }}" selected>{{ wbc_class_name }}</option>
        {% endfor %}
    </select>

    <button type="submit" class="btn btn-primary">Reload</button>
</form>

<script>
    $(document).ready(function () {
        $('select').selectpicker();
    });

</script>

<div id="chart1"></div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
        var graphs1 = {{ stats | safe}};
        Plotly.plot("chart1", graphs1,{});
</script>
