<form id="stats-form" action="{{ url_for('project_views.project', tab=2)}}" method="post"
      enctype="multipart/form-data">
    <div style="text-align: center">
            <select class="selectpicker" id="batch-stats-select" name="batch-stats-select" multiple data-live-search="true" title="Choose batches...">
        {% for batch in batches %}
        <option value="{{ batch.id }}">{{ batch.name }}</option>
        {% endfor %}
    </select>

    <select class="selectpicker" id="plot-type-select" name="plot-type-select" data-live-search="true" title="Choose plot type...">
        <option value="Bar">Bar</option>
        <option value="Pie">Pie</option>
    </select>

    <select class="selectpicker" id="wbc-class-select" name="wbc-class-select" multiple data-live-search="true" title="Choose wbc classes...">
        {% for wbc_class_name in wbc_class_names %}
        <option value="{{ wbc_class_name }}" selected>{{ wbc_class_name }}</option>
        {% endfor %}
    </select>

    <button type="submit" class="btn btn-primary">
        <i class="material-symbols-outlined" style="font-size:15px;">
            refresh
        </i>
        Reload
    </button>
    </div>

</form>

<br/>

<script>
    $(document).ready(function () {
        $('select').selectpicker();
    });

</script>

<div id="chart1" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px"></div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
        var graphs1 = {{ stats | safe}};
        Plotly.plot("chart1", graphs1,{});
</script>
